header {
    float: left 
     
}
    
        

header img{
    border-radius: 100%;
    padding-left: 40px;
    padding-right: 40px;
    }
    
    header hgroup{
        text-align: center;
        color: yellow;
    }


    div{
        background-color: teal;
        margin-right:26px;
        height: 1000px;
        color: white;
    }

    #infocontacto{

        text-align: center;
    }

main{
    
  
    width: 1000px;
    height:1000px;
    background-image: url(https://i.pinimg.com/originals/e3/8e/a2/e38ea2859fcad1e62e25e12d30800b02.jpg);
    font-size: 20px;
    color: white    ;
    font-weight: bold;

}    

#explaboral {

    margin-bottom: 100px;
}

#infocontacto h3 {

    color:  yellow;
}

#conocimientos {
   display:inline-block;
   margin-bottom: 100px;
   margin-left: 100px;
}

#habilidades {
    display:inline-block;
    margin-bottom: 100px;
}

#infointeres{

    margin-bottom: 100px;
}

#estudios{
    margin-bottom: 100px;
    
    
}

h3{
    color:yellow;
}







.icono {

widows: 20px;
height: 25px;


}
